In [169]:
# The dataset is composed of three columns: `Voter ID`, `County`, and `Candidate`. 
# Your task is to create a Python script that analyzes the votes and calculates each of the following:

import pandas as pd

# Reference the csv file 

df_election = "election_data.csv"

# Make as dataframe

electiondata = pd.read_csv(df_election)
electiondata

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [159]:
# The total number of votes cast
total_votes = electiondata.count()["Voter ID"]
total_votes

3521001

In [160]:
# A complete list of candidates who received votes
candidates_list = electiondata["Candidate"].unique()
pd.DataFrame(candidates_list, columns=["Candidate"])

  Candidate
0      Khan
1    Correy
2        Li
3  O'Tooley

In [171]:
# The percentage of votes each candidate won
percent_won = ((electiondata["Candidate"].value_counts() / total_votes)*100).map('{:,.3f}%'.format)
print(percent_won)

Khan        63.000%
Correy      20.000%
Li          14.000%
O'Tooley     3.000%
Name: Candidate, dtype: object

In [172]:
data = percent_won.dtypes()
print(data)

TypeError: 'numpy.dtype' object is not callable

In [162]:
percent_won.loc["Khan"]

'63.000%'

In [163]:
# The total number of votes each candidate won
total_won = electiondata["Candidate"].value_counts()
pd.DataFrame(total_won)

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [164]:
# The winner of the election based on popular vote.
winner = total_won.idxmax()
winner = pd.DataFrame([winner], index=["Winner: "], columns=["Candidate"])
winner
print(winner)

         Candidate
Winner:       Khan

In [185]:
with open ("PyPoll_Answers.txt", "w") as f:
    f.write("Election Results")
    f.write("----------------------------")
    f.write("Total Results:" + str(total_votes))
    f.write("----------------------------")
    f.write("Khan: " + str(percent_won.loc["Khan"]) + "  " + "(" +str(total_won.loc["Khan"]) + ")")
    f.write("Correy: " + str(percent_won.loc["Correy"]) + "  " + "(" + str(total_won.loc["Correy"])+ ")")
    f.write("Li: " + str(percent_won.loc["Li"]) + "  " + "(" + str(total_won.loc["Li"]) + ")")
    f.write("O'Tooley: " + str(percent_won.loc["O'Tooley"]) + "  " + "(" + str(total_won.loc["O'Tooley"]) + ")")
    f.write("----------------------------")
    f.write("Winner: " + str(winner)
    f.write("----------------------------")
    f.close()

SyntaxError: invalid syntax (<ipython-input-185-60dd4f62e4e0>, line 12)